### 문제 정의 : 거리가 가까운 단어가 띄워져서 각각을 따로보는 현상을 해결하는 코드를 만들어보자

### WorkFlow
    1. point를 참고하여 어떤 부분이 width인지, length인지 파악
    2. 한 글자의 평균 width를 구해서 평균 width 차이가 나지 않는 그룹을 병합시킴

In [14]:
file_path = "/opt/ml/final/test_image/test1_101rotate.jpg"

# Python
import requests
api_url = "http://118.222.179.32:30001/ocr/"
headers = {"secret": "Boostcamp0001"}
file_dict = {"file": open(file_path, "rb")}
response = requests.post(api_url, headers=headers, files=file_dict)
ocr_output = response.json();

test_list = ocr_output['ocr']['word']
# test_list.sort(key = lambda x : x['points'][0])

for i in range(len(test_list)) : 
    print(test_list[i])

{'points': [[1147, 1394], [1186, 1394], [1186, 1441], [1147, 1441]], 'orientation': 'Horizontal', 'text': '김'}
{'points': [[1197, 1394], [1239, 1394], [1239, 1438], [1197, 1438]], 'orientation': 'Horizontal', 'text': '선'}
{'points': [[1252, 1394], [1292, 1394], [1292, 1438], [1252, 1438]], 'orientation': 'Horizontal', 'text': '길'}
{'points': [[1140, 1453], [1334, 1453], [1334, 1491], [1140, 1491]], 'orientation': 'Horizontal', 'text': 'SUN-KIL'}
{'points': [[1350, 1453], [1445, 1453], [1445, 1487], [1350, 1487]], 'orientation': 'Horizontal', 'text': 'KIM'}
{'points': [[1126, 1758], [1405, 1758], [1405, 1793], [1126, 1793]], 'orientation': 'Horizontal', 'text': '오토비즈추진팀장'}
{'points': [[1554, 1812], [1745, 1812], [1745, 1844], [1554, 1844]], 'orientation': 'Horizontal', 'text': 'Operation'}
{'points': [[1122, 1814], [1217, 1817], [1216, 1850], [1121, 1847]], 'orientation': 'Horizontal', 'text': 'Head'}
{'points': [[1378, 1814], [1539, 1814], [1539, 1846], [1378, 1846]], 'orientation': 'Horizontal', 'text': 'Business'}
{'points': [[1231, 1816], [1268, 1816], [1268, 1844], [1231, 1844]], 'orientation': 'Horizontal', 'text': 'of'}
{'points': [[1279, 1816], [1365, 1816], [1365, 1846], [1279, 1846]], 'orientation': 'Horizontal', 'text': 'Auto'}
{'points': [[1115, 1871], [1218, 1871], [1218, 1900], [1115, 1900]], 'orientation': 'Horizontal', 'text': 'Team'}
{'points': [[1228, 1995], [1331, 1995], [1331, 2029], [1228, 2029]], 'orientation': 'Horizontal', 'text': '2.510'}
{'points': [[1338, 1995], [1430, 1995], [1430, 2029], [1338, 2029]], 'orientation': 'Horizontal', 'text': '9471'}
{'points': [[1174, 1997], [1220, 1997], [1220, 2026], [1174, 2026]], 'orientation': 'Horizontal', 'text': '82'}
{'points': [[1117, 2001], [1140, 2001], [1140, 2026], [1117, 2026]], 'orientation': 'Horizontal', 'text': 'I'}
{'points': [[1161, 2003], [1172, 2003], [1172, 2020], [1161, 2020]], 'orientation': 'Horizontal', 'text': ')'}
{'points': [[1227, 2048], [1475, 2052], [1474, 2087], [1226, 2083]], 'orientation': 'Horizontal', 'text': '10.3451.3933'}
{'points': [[1174, 2052], [1216, 2052], [1216, 2083], [1174, 2083]], 'orientation': 'Horizontal', 'text': '82'}
{'points': [[1109, 2054], [1136, 2054], [1136, 2081], [1109, 2081]], 'orientation': 'Horizontal', 'text': 'M'}
{'points': [[1153, 2054], [1172, 2054], [1172, 2077], [1153, 2077]], 'orientation': 'Horizontal', 'text': '+'}
{'points': [[1109, 2108], [1132, 2108], [1132, 2138], [1109, 2138]], 'orientation': 'Horizontal', 'text': 'E'}
{'points': [[1151, 2108], [1556, 2108], [1556, 2144], [1151, 2144]], 'orientation': 'Horizontal', 'text': 'hanulnamja@kia.com'}
{'points': [[1099, 2233], [1158, 2237], [1156, 2269], [1097, 2265]], 'orientation': 'Horizontal', 'text': 'Kia'}
{'points': [[1174, 2236], [1414, 2243], [1413, 2277], [1173, 2270]], 'orientation': 'Horizontal', 'text': 'Corporation'}
{'points': [[1094, 2289], [1222, 2289], [1222, 2325], [1094, 2325]], 'orientation': 'Horizontal', 'text': '06009'}
{'points': [[1235, 2289], [1344, 2289], [1344, 2331], [1235, 2331]], 'orientation': 'Horizontal', 'text': '서울시'}
{'points': [[1361, 2289], [1471, 2293], [1469, 2336], [1360, 2333]], 'orientation': 'Horizontal', 'text': '강남구'}
{'points': [[1485, 2291], [1636, 2291], [1636, 2335], [1485, 2335]], 'orientation': 'Horizontal', 'text': '압구정로'}
{'points': [[1649, 2299], [1717, 2302], [1715, 2334], [1648, 2330]], 'orientation': 'Horizontal', 'text': '417'}
{'points': [[1090, 2348], [1159, 2348], [1159, 2381], [1090, 2381]], 'orientation': 'Horizontal', 'text': '417,'}
{'points': [[1172, 2349], [1376, 2356], [1375, 2394], [1171, 2388]], 'orientation': 'Horizontal', 'text': 'Apgujeong'}
{'points': [[1460, 2355], [1723, 2368], [1721, 2402], [1459, 2390]], 'orientation': 'Horizontal', 'text': 'Gangnam-gu,'}
{'points': [[1380, 2358], [1443, 2358], [1443, 2390], [1380, 2390]], 'orientation': 'Horizontal', 'text': '-ro,'}
{'points': [[1084, 2404], [1190, 2409], [1188, 2444], [1082, 2438]], 'orientation': 'Horizontal', 'text': 'Seoul'}
{'points': [[1205, 2407], [1336, 2407], [1336, 2442], [1205, 2442]], 'orientation': 'Horizontal', 'text': '06009'}
{'points': [[1349, 2410], [1521, 2414], [1520, 2451], [1348, 2448]], 'orientation': 'Horizontal', 'text': 'Republic'}
{'points': [[1582, 2414], [1694, 2422], [1692, 2456], [1580, 2448]], 'orientation': 'Horizontal', 'text': 'Korea'}
{'points': [[1531, 2417], [1556, 2417], [1556, 2444], [1531, 2444]], 'orientation': 'Horizontal', 'text': '0'}
{'points': [[1554, 2417], [1571, 2417], [1571, 2442], [1554, 2442]], 'orientation': 'Horizontal', 'text': 't'}
{'points': [[1189, 2526], [1239, 2526], [1239, 2558], [1189, 2558]], 'orientation': 'Horizontal', 'text': 'kia'}
{'points': [[1077, 2528], [1172, 2528], [1172, 2556], [1077, 2556]], 'orientation': 'Horizontal', 'text': 'www'}
{'points': [[1170, 2530], [1189, 2530], [1189, 2556], [1170, 2556]], 'orientation': 'Horizontal', 'text': 'A'}
{'points': [[1252, 2529], [1335, 2536], [1333, 2564], [1250, 2557]], 'orientation': 'Horizontal', 'text': 'com'}

In [26]:
# 데이터프레임 만들어보자
import pandas as pd
point_1_x = []
point_1_y = []
point_2_x = []
point_2_y = []
point_3_x = []
point_3_y = []
point_4_x = []
point_4_y = []
ocr_text = []
word_length = []
box_width = []
box_length = []
english = []

# 일단 모두다 horizontal인 경우로 가정한다.
for i in range(len(test_list)) :
    point_1_x.append(test_list[i]['points'][0][0])
    point_1_y.append(test_list[i]['points'][0][1])
    point_2_x.append(test_list[i]['points'][1][0])
    point_2_y.append(test_list[i]['points'][1][1])
    point_3_x.append(test_list[i]['points'][2][0])
    point_3_y.append(test_list[i]['points'][2][1])
    point_4_x.append(test_list[i]['points'][3][0])
    point_4_y.append(test_list[i]['points'][3][1])
    # 1 ~ 2 간의 거리
    temp_length1 = (abs(test_list[i]['points'][1][0] - test_list[i]['points'][0][0])**2 + abs(test_list[i]['points'][1][1] - test_list[i]['points'][0][1])**2)**0.5
    # 2 ~ 3 간의 거리
    temp_length2 = (abs(test_list[i]['points'][2][0] - test_list[i]['points'][1][0])**2 + abs(test_list[i]['points'][2][1] - test_list[i]['points'][1][1])**2)**0.5
    
    ocr_text.append(test_list[i]['text'])
    word_length.append(len(test_list[i]['text']))
    box_width.append(max(temp_length1, temp_length2))
    box_length.append(min(temp_length1, temp_length2))
    english.append(test_list[i]['text'].encode().isalpha())

ocr_df = pd.DataFrame({'text' : ocr_text,
                       'is_alpha' : english,
                       'word_length' : word_length,
                       'box_width' : box_width,
                       'box_length' : box_length,
                       'point_1_x' : point_1_x,
                       'point_1_y' : point_1_y,
                       'point_2_x' : point_2_x,
                       'point_2_y' : point_2_y,
                       'point_3_x' : point_3_x,
                       'point_3_y' : point_3_y,
                       'point_4_x' : point_4_x,
                       'point_4_y' : point_4_x,})
ocr_df

,text,is_alpha,word_length,box_width,box_length,point_1_x,point_1_y,point_2_x,point_2_y,point_3_x,point_3_y,point_4_x,point_4_y
0,김,False,1,47.000000,39.000000,1147,1394,1186,1394,1186,1441,1147,1147
1,선,False,1,44.000000,42.000000,1197,1394,1239,1394,1239,1438,1197,1197
2,길,False,1,44.000000,40.000000,1252,1394,1292,1394,1292,1438,1252,1252
3,SUN-KIL,False,7,194.000000,38.000000,1140,1453,1334,1453,1334,1491,1140,1140
4,KIM,True,3,95.000000,34.000000,1350,1453,1445,1453,1445,1487,1350,1350
5,오토비즈추진팀장,False,8,279.000000,35.000000,1126,1758,1405,1758,1405,1793,1126,1126
6,Operation,True,9,191.000000,32.000000,1554,1812,1745,1812,1745,1844,1554,1554
7,Head,True,4,95.047357,33.015148,1122,1814,1217,1817,1216,1850,1121,1121
8,Business,True,8,161.000000,32.000000,1378,1814,1539,1814,1539,1846,1378,1378
9,of,True,2,37.000000,28.000000,1231,1816,1268,1816,1268,1844,1231,1231
10,Auto,True,4,86.000000,30.000000,1279,1816,1365,1816,1365,1846,1279,1279
11,Team,True,4,103.000000,29.000000,1115,1871,1218,1871,1218,1900,1115,1115
12,2.510,False,5,103.000000,34.000000,1228,1995,1331,1995,1331,2029,1228,1228
13,9471,False,4,92.000000,34.000000,1338,1995,1430,1995,1430,2029,1338,1338
14,82,False,2,46.000000,29.000000,1174,1997,1220,1997,1220,2026,1174,1174
15,I,True,1,25.000000,23.000000,1117,2001,1140,2001,1140,2026,1117,1117
16,),False,1,17.000000,11.000000,1161,2003,1172,2003,1172,2020,1161,1161
17,10.3451.3933,False,12,248.032256,35.014283,1227,2048,1475,2052,1474,2087,1226,1226
18,82,False,2,42.000000,31.000000,1174,2052,1216,2052,1216,2083,1174,1174
19,M,True,1,27.000000,27.000000,1109,2054,1136,2054,1136,2081,1109,1109
20,+,False,1,23.000000,19.000000,1153,2054,1172,2054,1172,2077,1153,1153
21,E,True,1,30.000000,23.000000,1109,2108,1132,2108,1132,2138,1109,1109
22,hanulnamja@kia.com,False,18,405.000000,36.000000,1151,2108,1556,2108,1556,2144,1151,1151
23,Kia,True,3,59.135438,32.062439,1099,2233,1158,2237,1156,2269,1097,1097
24,Corporation,True,11,240.102062,34.014703,1174,2236,1414,2243,1413,2277,1173,1173
25,06009,False,5,128.000000,36.000000,1094,2289,1222,2289,1222,2325,1094,1094
26,서울시,False,3,109.000000,42.000000,1235,2289,1344,2289,1344,2331,1235,1235
27,강남구,False,3,110.072703,43.046487,1361,2289,1471,2293,1469,2336,1360,1360
28,압구정로,False,4,151.000000,44.000000,1485,2291,1636,2291,1636,2335,1485,1485
29,417,False,3,68.066144,32.062439,1649,2299,1717,2302,1715,2334,1648,1648
30,"417,",False,4,69.000000,33.000000,1090,2348,1159,2348,1159,2381,1090,1090
31,Apgujeong,True,9,204.120063,38.013156,1172,2349,1376,2356,1375,2394,1171,1171
32,"Gangnam-gu,",False,11,263.321097,34.058773,1460,2355,1723,2368,1721,2402,1459,1459
33,"-ro,",False,4,63.000000,32.000000,1380,2358,1443,2358,1443,2390,1380,1380
34,Seoul,True,5,106.117859,35.057096,1084,2404,1190,2409,1188,2444,1082,1082
35,06009,False,5,131.000000,35.000000,1205,2407,1336,2407,1336,2442,1205,1205
36,Republic,True,8,172.046505,37.013511,1349,2410,1521,2414,1520,2451,1348,1348
37,Korea,True,5,112.285351,34.058773,1582,2414,1694,2422,1692,2456,1580,1580
38,0,False,1,27.000000,25.000000,1531,2417,1556,2417,1556,2444,1531,1531
39,t,True,1,25.000000,17.000000,1554,2417,1571,2417,1571,2442,1554,1554
40,kia,True,3,50.000000,32.000000,1189,2526,1239,2526,1239,2558,1189,1189
41,www,True,3,95.000000,28.000000,1077,2528,1172,2528,1172,2556,1077,1077
42,A,True,1,26.000000,19.000000,1170,2530,1189,2530,1189,2556,1170,1170
43,com,True,3,83.294658,28.071338,1252,2529,1335,2536,1333,2564,1250,1250

In [32]:
# 한글, 영어 여부에 따라 한글자의 width가 달라짐
# 글자 크기에 따라서도 달라지니깐 이 부분도 해결해야할 듯
eng_cnt = 0
eng_length = 0

kor_cnt = 0
kor_length = 0

for i in range(len(ocr_df)) :
    # 영어면 영어끼리 길이 구함
    if ocr_df['is_alpha'][i] == True : 
        eng_cnt += ocr_df['word_length'][i]
        eng_length += ocr_df['box_width'][i]
    # 한국어면 한국어끼리 길이 구함
    else : 
        kor_cnt += ocr_df['word_length'][i]
        kor_length += ocr_df['box_width'][i]
        
print(f'영어 한글자 width 평균 = {eng_length / eng_cnt}')
print(f'한국어 한글자 width 평균 = {kor_length / kor_cnt}')

영어 한글자 width 평균 = 22.732014511746186
한국어 한글자 width 평균 = 25.50464339883445

In [33]:
# 데이터 프레임을 처음부터 for문 돌려서 만약 영어일때, 한국어일 때 나누고, 그 뒷글자를 비교(a의 2번과 b의 1번의 거리비교)하여 만약 우리의 조건에 부합하면 단어 이어붙이기